<!-- <div class="loginBaby align-middle rounded">
  <h3 class=" align-middle"> Login / Signup</h3>
  <form action="" >
    <div class="rounded" >
      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
    </div>
  </form>
</div> -->

<div class="wrapper">
    <div class="container">
      <h1>Welcome</h1>
      
      <form class="form">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button type="submit" id="login-button">Login</button>
      </form>
    </div>
    
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>