<div class="mainDiv">
 
  <div class="container mt-2 ">
    <!-- <img src="../../../assets/pictures/mainHead1.jpg" alt="" class="img-fluid"> -->
    <h1>The Burried Stories </h1>
  </div>
  <div for= "Sorting" class="container mb-3">
      <div class = " float-left mb-2">
          <input type="button" value="Add Your Story" [routerLink] = "['/addMyStory']" class="btn btn-outline-secondary btn-sm ">
        </div>
        
   <div class = " float-right " >
      <span class = "mr-2"  > Your First  </span>
      <span class = "mr-2"> A-Z </span>
      <span class = "mr-2"> Most Recent</span>
      <span class = "mr-2"> Random</span>
   </div>
   

 
</div>
<br>
  <div *ngFor="let story of displayStories" class="container mt-2 border block ">
    <label class="mt-2"> {{story.id}}. <b>{{story.title | uppercase}} </b> </label>
    <p class="ml-3" (click)="showDetails(story.id, story.details)">
      {{story.story}}
      <!-- <img [src]="imgsrc" alt="dd" srcset=""> -->
    </p>
    <div class="detailedStory ml-3" [id]=story.id>
      <app-detailed-story [detailsMessage]=story.details> </app-detailed-story>
    </div>
  </div>
    
  

</div>  
