<div class="mainDiv">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <div class="container mt-2 ">
    <!-- <img src="../../../assets/pictures/mainHead1.jpg" alt="" class="img-fluid"> -->
    <h1>The Burried Stories of Ravan</h1>
  </div>
  <div *ngFor="let story of displayStories" class="container mt-2 border block ">
    <label class="mt-2"> {{story.id}}. <b>{{story.title | uppercase}} </b> </label>
    <p class="ml-3" (click)="showDetails(story.id, story.details)">
      {{story.story}}
      <img [src]="imgsrc" alt="dd" srcset="">
    </p>
    <div class="detailedStory ml-3" [id]=story.id>
      <app-detailed-story [detailsMessage]=story.details> </app-detailed-story>
    </div>
  </div>


</div>